include README.md
include LICENSE.txt
include requirements.txt
recursive-include TTS *.json
recursive-include TTS *.html
recursive-include TTS *.png
recursive-include TTS *.md
recursive-include notebooks *.ipynb
recursive-include images *.png

