torch>=1.7
numpy==1.18.5
scipy>=0.19.0
librosa==0.7.2
phonemizer>=2.2.0
unidecode==0.4.20
pypinyin
jieba
tensorboardX
matplotlib
flask
tqdm
inflect
pysbd
soundfile
gdown
umap-learn==0.4.6
cython
pyyaml
fsspec>=0.8.0
