cython
flask
gdown
inflect
jieba
librosa==0.7.2
matplotlib
numpy==1.18.5
pandas
phonemizer>=2.2.0
pypinyin
pysbd
pyyaml
scipy>=0.19.0
soundfile
tensorboardX
torch>=1.7
tqdm
umap-learn==0.4.6
unidecode==0.4.20
